* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
}

article {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header, main, footer {
  flex-shrink: 0;
}

header {
  height: 82px;
}

.header-nav {
  display: flex;
  width: 642px;
  height: 100%;
  margin: auto;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.3;
}

.tequila-logo-box {
  width: 115px;
  padding-top: 10px;
  padding-right: 2px;
}

.tequila-logo {
  width: 94px;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

a {
  transition: .1s ease-in-out;
}

a:hover {
  color: #F9D948;
}

.a1 {
  color: #F9D948;
}

main {
  flex-grow: 1;
  margin-top: 110px;
}

.background {
  height: 535px;
  margin: 0 57px;
  background-image: url(./images/Perfect+Anytime.png);
  background-size: cover;
}

.grid-box {
  height: 830px;
  width: 100%;
  margin-top: 30px;
  padding: 57px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 37%;
  grid-gap: 20px;
}

.recipe-box1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.RecipePic {
  height: 431px;
  width: 714px;
}

.recipe-box2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.RecipePic2 {
  height: 206px;
  width: 347px;
}

.recipe-box3 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.RecipePic3 {
  height: 205px;
  width: 347px;
}

.recipe-box4 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.RecipePic4 {
  height: 265px;
  width: 347px;
}

.recipe-box5 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.RecipePic5 {
  height: 265px;
  width: 714px;
}

.FindABottle {
  width: 228px;
  height: 75px;
  margin: -25px auto 100px;
  text-align: center;
  line-height: 77px;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1.6;
  background-color: #FFD900;
}

footer {
  height: 352px;
  padding-top: 80px;
  color: #FFD900;
  font-size: 20px;
  letter-spacing: 1;
  background-color: #171717;
}

.footer-booze {
  margin: auto;
}

.footer-bar {
  width: 91%;
  margin: 42px auto 32px;
  border-bottom: 4px solid #FFD900;
}

.footer-flex {
  width: 89%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

span {
  font-family: sans-serif;
  font-size: 17px;
  letter-spacing: .1;
  text-decoration: underline;
  cursor: pointer;
}

.social-box {
  display: flex;
  width: 150px;
  margin-top: -10px;
  justify-content: space-around;
}

.fa {
  cursor: pointer;
}