* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
}

article {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  height: 82px;
}

.header-nav {
  display: flex;
  width: 642px;
  height: 100%;
  margin: auto;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.3;
}

.a1 {
  color: #F9D948;
}

.tequila-logo-box {
  width: 115px;
  padding-top: 10px;
  padding-right: 2px;
}

.tequila-logo {
  width: 94px;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

a {
  transition: .1s ease-in-out;
}

a:hover {
  color: #F9D948;
}

main {
  flex-grow: 1;
  margin-top: 110px;
  font-size: 28px;
  line-height: 1.1;
}

header, main, footer {
  flex-shrink: 0;
}


.GoodJuiceBackground {
  height: auto;
  width: auto;
  margin-bottom: 47px;
  padding: 40px 0 2px;
  background-image: url(./images/TheGoodJuiceBackground.png);
}

.GoodJuice {
  width: 78%;
  margin: auto;
}

.TheGoodJuice {
  width: 100%;
  height: auto;
}

.GoodJuiceBlurb {
  width: 715px;
  margin: 47px auto;
  text-align: center;
  font-size: 29px;
  line-height: 34px
}

.tequizer-box {
  padding-left: 7px;
}

.Tequizer {
  height: 830px;
  width: auto;
  margin-left: -58px;
}

.second-row {
  margin-left: -13px;
}

.flex {
  display: flex;
}

.Name {
  height: 55px;
  margin-top: 53px;
}

.tequila-blurb {
  width: 490px;
  margin: 30px 0;
  font-size: 25px;
}

.GrayBar {
  width: 498px;
  margin-bottom: 9px;
  border-bottom: 3px solid #7D868C;
}

.GrayBar:nth-of-type(3) {
  margin-bottom: 25px;
}

.TeqPics {
  height: 55px;
  margin-right: 12px;
} 

.flex2 {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.6;
}

.FlexThis {
  display: flex;
}

.WhereToBuy {
  width: 160px;
  height: 56px;
  margin-top: 34px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 49px;
  letter-spacing: 1.6;
  border: 5px solid #FFD900;
  box-shadow: 0 6px 6px -6px black;
}

.flex-2 {
  display: flex;
}

.ugh {
  height: 100px;
  display: flex;
  align-items: center;
}

.second-row-2 {
  margin-left: 100px;
}

.tequila-blurb-2 {
  width: 455px;
}

.GreenBar {
  width: 503px;
  border-bottom: 3px solid #009944;
}

.tequizer2 {
  height: 855px;
  padding: 25px 0 0 15px;
}

.flex3 {
  margin-left: -55px;
}

.tequizer3 {
  margin-left: 7px;
}

.name3 {
  height: 67px;
}

.third-row {
  padding-top: 53px;
}

.RedBar {
  border-bottom: 3px solid #C6093B;
}

.FindABottle {
  width: 228px;
  height: 75px;
  margin: 0 auto 100px;
  text-align: center;
  line-height: 77px;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1.6;
  background-color: #FFD900;
}

footer {
  height: 352px;
  padding-top: 80px;
  color: #FFD900;
  font-size: 20px;
  letter-spacing: 1;
  background-color: #171717;
}

.footer-booze {
  margin: auto;
}

.footer-bar {
  width: 91%;
  margin: 42px auto 32px;
  border-bottom: 4px solid #FFD900;
}

.footer-flex {
  width: 89%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

span {
  font-family: sans-serif;
  font-size: 17px;
  letter-spacing: .1;
  text-decoration: underline;
  cursor: pointer;
}

.social-box {
  display: flex;
  width: 150px;
  margin-top: -10px;
  justify-content: space-around;
}

.fa {
  cursor: pointer;
}

@media (max-width: 375px) {
  a {
    display: none;
  }

  .tequila-logo {
    margin: 0;
  }

  .tequila-logo-box {
    margin: auto;
  }
  
  main {
    margin-top: 30px;
  }

  .GoodJuiceBlurb {
    width: 335px;
    font-size: 21px;
    line-height: 23px;
  }

  .main-container {
    width: 375px;
    display: flex;
    flex-direction: column;
  }

  .flex {
    flex-direction: column;
  }

  .Tequizer {
    width: 335px;
    height: auto;
  }

  .tequizer2 {
    width: 255px;
    height: auto;
  }

  .second-row {
    margin: auto;
  }

  .name {
    height: 40px;
  }
  
  .tequila-blurb {
    width: 375px;
    margin: auto;
    font-size: 23px;
  }

  .GrayBar {
    width: auto;
    margin-bottom: 9px;
    border-bottom: 3px solid #7D868C;
  }
  
  .ugh {
    flex-direction: column;
  }

  .flex1 {
    height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -7px;
    padding-top: 23px;
  }
  
  .TeqPics {
    height: 55px;
  } 
  
  .flex2 {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    padding: 45px 0 0 10px;
    letter-spacing: 1.6;
  }
  
  .FlexThis {
    display: flex;
  }

  .flex-2:last-child {
    order: 1;
  }





}