html {
  height: 100%;
}

body {
  height: 100%;
}

.overlay {
  height: 100%;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
    background-color: #252934d2;
    background-color: #252934c2;
}

.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 15% 45% 34% 1fr;
  grid-template-areas:
    "main   main   main"
    "main   main   main"
    "main   main   main"
    "footer footer  footer";
  background-image: url(./images/BackgroundFirstTry.JPG);
  background-size: cover;
  background-position: top 10px;
}

.box {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 2px solid white;
}

.footer-box {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  background-color: gray;
}