* {
    box-sizing: border-box;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    height: 100vh;
}

.main-container {
    height: 100%;
    background-color: #252934;
    font-family: 'Archivo Black', sans-serif;
    color: #FFFFFF;
    background-image: url(./images/RobMountainPortf.JPG);
    /* background-image: url(./images/Rob-FirstTry2.JPG); */
    background-size: cover;
}

.overlay {
    height: 100%;
    background-color: #252934d2;
    background-color: #252934c2;
}

.main-box {
    text-align: center;
    line-height: 350px;
    padding-top: 155px;
}

.rob-box {
    height: 230px;
    padding-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 235px;
    padding-bottom: 21px;
}

.name-box {
    height: 350px;
    font-size: 235px;
    margin-left: 250px;
}

.rob-pic {
    position: relative;
        left: -408;
        bottom: 5;
}

.name-box2 {
    line-height: 95px;
    font-size: 101px;
}

.webby {
    width: 530px;
    margin: 8px auto;
    margin-bottom: 20px;
    border-bottom: 2px solid #04C2C9;
}

.webby2 {
    margin-top: 10px;
}

.whoami {
    height: 25px;
    line-height: 15px;
    font-size: 25px;
}

.quote-box {
    line-height: 25px;
}

/* .vid-box {
    width: 555px;
    height: 300px;
    margin: 80px auto;
} */

.footer {
    position: absolute;
        bottom: 2;
    height: 55px;
    width: 100%;
    background-color: #1B242F;
}

.footer-box {
    display: flex;
    height: 100%;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
}

.footer-bar {
    border-bottom: 2px solid #04C2C9;
}

a {
    margin: 5px;
}

a:hover {
    border-top: 2px solid #04C2C9;
    padding-top: 7px;
    padding-bottom: 9px;
}

@media (max-width: 375px) {
    .main-container {
        background-position: -300px;
    }

    .top-bar {
        width: 100%;
        border-top: 2px solid #04C2C9;
    }

    .rob-box {
        height: 30px;
    }

    .rob-pic {
        position: relative;
            left: -203px;
    }

    .name-box {
        height: 230px;
        font-size: 115px;
        margin-left: 121px;
    }

    img {
        height: 120px;
        margin-top: 120px;
        padding-bottom: 10px;
        line-height: 50px;
    }

    .name-box2 {
        height: 110px;
        font-size: 52px;
        line-height: 265px;
    }

    .webby {
        width: 270px;
        margin: 55px auto 20px;
    }

    .webby2 {
        margin-top: 10px;
    }

    .vid-box {
        margin-top: 50px;
        width: 375px;
    }

    .jammer {
        padding: 7px;
        width: 375px;
    }

    .footer-box {
        width: 375px;
        padding: 5px;
        font-size: 15px;
    }
}

@media (min-width: 376px) and (max-width: 768px) {
    .main-container {
        background-position: -300px;
    }
    
    .vid-box {
        margin-top: 105px;
    }

    .footer-box {
        width: 100%;
        padding-left: 75px;
        padding-right: 75px;
    }
}