* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
  }

  .grid-container {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: 27% 1fr 27%;
      grid-template-rows: 12% 12% 12% 12% 24% 1fr;
      grid-template-areas:
        "head   head    head"
        "nav    nav     nav"
        "nav    nav     nav"
        "main   main    main"
        "main   main    main"
        "main   main    main"
  }     

  .header {
      grid-area: head;
      background-color: #fbeaff;
  }

  .nav {
      grid-area: nav;
      background-color: lightblue;
  }

  .main {
      grid-area: main;
      background-color: lightgray;
  }