* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 27% 1fr 27%;
  grid-template-rows: 20% 20% 1fr;
  grid-template-areas:
    "header header header"
    "nav    nav   nav"
    "main   main   main"
}

.header {
  grid-area: header;
  color: #fbeaff;
  background-color: #b39cd0;
}

.nav {
  grid-area: nav;
  color: #fbeaff;
  background-color: #845ec2;
}

.main {
  grid-area: main;
  background-color: #fbeaff;
}

.footer {
  grid-area: footer;
  background-color: lavender;
}

.robbie-watkins {
  margin-top: 7%;
  font-size: 45px;
  text-align: center;
}

.pic-box {
  width: 45%;
  height: 90%;
  margin-top: 7%;
  margin-left: 28%;
  position: relative;
  background-color: #fbeaff;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  color: #fbeaff;
}

.nav-left {
  width: 28%;
  padding-top: 7px;
  line-height: 25px;
  text-align: center;
}

.about {
  padding-bottom: 7px;
}

.portfolio {
  padding-top: 7px;
  padding-bottom: 6px;
}

.nav-right {
  width: 28%;
  padding-top: 7px;
  line-height: 25px;
  text-align: center;
}

.contact {
  padding-bottom: 7px;
}

.thing {
  padding-top: 7px;
  padding-bottom: 6px;
}

hr {
  border: 1px solid #fbeaff;
}

.quote-box {
  text-align: center;
  line-height: 75px;
  font-size: 18px;
  font-weight: bolder;
}