* {
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    height: 100%;
    width: 100%;
    background-color: #252934;
    font-family: 'Archivo Black', sans-serif;
    color: #FFFFFF
}

.main-box {
    text-align: center;
    line-height: 500px;
}

.rob-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 235px;
    margin-top: 150px;
    padding-bottom: 21px;
}

.name-box {
    height: 350px;
    font-size: 235px;
}

.name-box2 {
    line-height: 35px;
    font-size: 104px;
}

.webby {
    width: 530px;
    margin: 35px auto;
    margin-bottom: 20px;
    border-bottom: 2px solid #04C2C9;
}

.webby2 {
    margin-top: 10px;
}

.whoami {
    height: 25px;
    line-height: 15px;
    font-size: 25px;
}

.quote-box {
    line-height: 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 3;
    height: 55px;
    width: 100%;
    background-color: #1B242F;
}

.footer-box {
    display: flex;
    height: 100%;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    padding-left: 55px;
}

.footer-bar {
    border-bottom: 2px solid #04C2C9;
}

p {
    margin: 5px;
}

p:hover {
    border-top: 2px solid #04C2C9;
    padding-bottom: 2px;
}

@media (max-width: 375px) {
    .name-box {
        font-size: 115px;
    }

    .rob-box {
        height: 30px;
    }

    img {
        height: 120px;
        padding-bottom: 10px;
        line-height: 50px;
    }

    .name-box2 {
        height: 110px;
        font-size: 52px;
        line-height: 265px;
    }

    .webby {
        width: 270px;
        margin: 55px auto 20px;
    }

    .webby2 {
        margin-top: 10px;
    }

    .footer-box {
        width: 375px;
        padding: 5px;
        font-size: 15px;
    }
}