* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: hotpink;
}

.title {
  margin: 25px 0;
  font-size: 75px;
  color: white;
  text-align: center;

}

.game-grid {
  height: 75%;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 40px auto;
  border: 2px solid white;
}

.Div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 55px;
  border: 3px solid white;
}