.title {
  font-size: 35;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 2px solid rgb(79, 96, 112);
  padding: .5%;
  background-color: rgb(178, 192, 206) !important;
}

.main-container {
  background-color: whitesmoke;
  color: rgb(79, 96, 112);
}

.blog-container {
  font-size: 11;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10;
  margin-right: 250;
  margin-bottom: 10;
  margin-left: 250;

}

h2 {
  text-align: justify;
}

hr {
  border-top: 1px solid rgb(79, 96, 112);
}

.first-paragraph:hover:first-letter {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 75;
  border: 1px solid rgb(79, 96, 112);
  background-color: rgb(178, 192, 206);
  padding: .5%;
}