


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.grid-container {
  background-color: #4C278C;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 8% repeat(6, 1fr) 8%;
  grid-template-rows: 18% 5% 21% 18% 7% 1fr;
}

.yellow-box {
  background-color: #FDE04C;
  grid-column: 7/9;
  margin-left: 20%;

}

.the-app {
  grid-column: 4/9;
  grid-row: 2/7;
}

.download {
  grid-column: 7/9;
  grid-row: 2/7;
}