


* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 0;
  }
  
.grid-container {
    background-color: #4A138C;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 7% repeat(5, 1fr) 4% 11% 11%;
    grid-template-rows: 18% 5% 21% 18% 7% 1fr;
  }

.item1 {
    background-color: green;
    grid-column: 2 / 3;
}

.item2 {
    display: flex;
    align-items: center;
    grid-column: 4 / 5;
}

.item3 {
    display: flex;
    align-items: center;
    grid-column: 5 / 6;
}

.item4 {
    display: flex;
    align-items: center;
    grid-column: 6 / 7;
}

.item5 {
    background-color: FDE04C;
    grid-column: 8 / 10;
    
}

.item6 {
    font-size: 13;
    grid-column: 6 / 7;
}

.item7 {
    display: flex;
    align-items: flex-end;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    font-size: 150px;
}

.item8 {
    display: flex;
    align-items: flex-end;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    font-size: 150px;
    margin-left: 33%;
    color: lightblue;
}

img {
    height: 100%;
    width: auto;
}

.item21 {
    grid-column: 5 / 11;
    grid-row: 4 / 7;
}