


* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: white;
  margin: 0;
  padding: 0;
}

.grid-container {
  background-color: #4C278C;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 7% repeat(6, 1fr) 7%;
  grid-template-rows: 18% 5% 21% 18% 7% 1fr;
}

.yellow-box {
  background-color: #FDE04C;
  grid-column: 7/9;
  margin-left: 20%;
}

.the-app {
  grid-column: 4/5;
  grid-row: 1/2;
  margin-top: 35%;
}

.download {
  grid-column: 5/6;
  grid-row: 1/2;
  margin-top: 35%;
}

.button {
  grid-column: 6/7;
  grid-row: 1/2;
  margin-top: 35%;
}

h6 {
  font-size: 9px;
  margin-top: 0;
  margin-bottom: 0;
}

.signing-up {
  grid-column: 6/7;
  grid-row: 2/3;
}

.cookies {
  text-decoration: underline;
  grid-column: 6/7;
  grid-row: 2/3;
}

.slickfish {
  font-size: 45px;
  grid-column: 2/4;
  grid-row: 3/4;
}

.fish {
  color: #00BCD4;
  margin-left: 21%;
  font-size: 45px;
  grid-column: 3/6;
  grid-row: 3/4;
}