

* {
  box-sizing: border-box;
}

.whole-thing {
  margin: auto;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  /* display: flexbox; */
  /* flex-direction: row; */
  /* padding: 20px; */
}

.image-container {
  /* display: flex; */
  /* flex-direction: row; */
  background-image: url("./galaxy.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 477px;
  width: 850px;
}

p {
  display: flex;
  flex-direction: row;
  color: white;
  align-content: center;
  justify-content: center;
}

footer {
  margin-top: 20px;
  background-color: lightgray;
  height: 324px;
  width: 850px;
}