* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-container {
  padding: 7%;
  padding-bottom: 0;
}

img {
  width: 100%;
  margin: auto;
}

.text-container {
  padding-left: 7%;
}

h2 {
  padding-right: 10%;
}

p {
  padding-right: 5%;
}

.right-text {
  float: right;
  width: 30%;
}

.righth4 {
  margin-bottom: 3%;
}

.right-top-text {
  margin-top: 0;
}

.wordthing {
  margin-left: 7%;
  width: 150px;
  background-color: #5D5D5D;
  color: white;
}

h3 {
  padding-left: 9%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.top-text {
  padding-top: 5%;
  padding-left: 20%;
}

.bottom-h4 {
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20%;
}

.bottom-hr {
  margin-left: 20%;
  margin-right: 20%;
}

.first-foot {
  color: white;
  float: left;
  width: 49%;
}

.second-foot {
  color: white;
  float: right;
  width: 49%;
}

.top-second {
  padding-top: 5%;
  padding-left: 5%;
}

.right {
  font-weight: lighter;
  margin: 0;
  padding-left: 5%;
}

.right-line {
  margin-left: 5%;
  margin-right: 35%;
}

footer {
  height: 40%;
  background-color: #5D5D5D;
}

@media (min-width: 0px) and (max-width: 992px) {
  .right-text {
    display: none;
  }
}

@media (min-width: 576px) {
  footer {
    height: 0%;
    display: none;
  }
}

@media (min-width: 768px) {
  footer {
    height: 0%;
    display: none;
  }
}

@media (min-width: 992px) {
  img {
    width: 65%;
    height: auto;
  }
  
  .img-containter {
    float: left;
    width: 30%;
  }

  .right-text {
      float: right;
    }
}