* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.img-container {
  padding: 7%;
}

img {
  width: 100%;
  margin: auto;
}

.text-container {
  padding-left: 7%;
}

.right-text {
  float: right;
  /* visibility: hidden; */
}

.wordthing {
  margin-left: 7%;
  margin-right: 59%;
  background-color: #5D5D5D;
  color: white;

}

.top-text {
  padding-top: 5%;
  padding-left: 20%;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20%;
}

hr {
  /* margin-right: 55%; */
  margin-left: 20%;
  margin-right: 20%;
}

.first-foot {
  color: white;
  float: left;
  width: 49%;
}

.second-foot {
  color: white;
  float: right;
  width: 49%;
}

.top-second {
  padding-top: 5%;
  padding-left: 5%;
}

.right {
  padding-left: 5%;
}

.right-line {
  margin-left: 5%;
  margin-right: 35%;
}

footer {
  height: 40%;
  background-color: #5D5D5D;
}






/* .main-container .upper-section { */
  /* height: 300px; */
  /* width: 300px; */
  /* background-color: pink; */
  /* margin: 10px auto; */
/* } */

@media (min-width: 0px) and (max-width: 992px) {
  .right-text {
    display: none;
  }
}

@media (min-width: 576px) {
  footer {
    height: 0%;
    display: none;
  }

  img {
    height: 50%;
  }

  /* .right-text { */
    display: none;
  }
}
@media (min-width: 768px) {
  footer {
    height: 0%;
    display: none;
  }
}

@media (min-width: 992px) {
  img {
    height: 50%;
  }
  
  .right-text {
      float: right;
    }
}

@media (min-width: 1200px) {

    }
